{% extends "base.html" %}
{% block content %}
{{ statblock | safe }}
<p><a href="{{ url_for('main.index') }}">Back to list</a></p>
<button onclick="copyMarkdown()">Copy Markdown to Clipboard</button>
<div id="markdownContent" class="hiddenCode">{{ markdown }}</div>
<script>
  function copyMarkdown()
  {
    const textElement = document.getElementById("markdownContent");
    const text = textElement.innerHTML;
    copyToClipboard(text);
  }
  
  async function copyToClipboard(text) {
    if (navigator.clipboard && window.isSecureContext) {
      navigator.clipboard.writeText(text);
      alert("Text copied to navigator clipboard!");
    } else {
      // fallback for non-HTTPS or older browsers
      const textArea = document.createElement("textarea");
      textArea.value = text;
      textArea.style.position = "fixed";
      textArea.style.opacity = 0;
      document.body.appendChild(textArea);
      textArea.focus();
      textArea.select();
      document.execCommand('copy');
      document.body.removeChild(textArea);
      alert("Text copied to old-school clipboard!");
    }
  }
</script>
{% endblock %}
